*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width:50%;
    max-width: 380px;
    margin:100px auto 0;
    background:linear-gradient(45deg, #abc0f1, #b3e65d,#5ddc7d);
    padding:10px;
    border-radius: 20px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
margin: 20px auto;
}
.search input{
    border: none;
    outline: none;
    width:250px;
    border-radius: 15px;
    padding:10px;
    font-size: 14px;
    margin-right: 10px;
}
.search button{
    border:none;
    width:35px;
    height: 35px;
    border-radius :50%;
    cursor: pointer;
}
.search button img{
    width:50%;
    text-align: center;
    align-items: center;
}
.weather{
    width: 130px;
    height: 130px;
    margin:10px auto;
}
.weather img{
    width: 100%;
    height: 100%;
   
}
.temp,.city-name{
    color:#fff;
    text-align: center;
}
.temp{

    font-weight: 500;
    font-size: 65px;
    margin-top: -15px;
}
.city-name{
    font-weight: 400;
    font-size: 40px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px auto;
    width: 300px;
}
.details .col{
    width: 150px;
    display: flex;
    align-items: center;
}
.details .col div{
    margin-left: 10px;
    color: #fff;
}
.details img{
    width: 30px;
}
.humidity,.wind{

    font-size: 20px;
}
.error{
    display: none;
    margin-left: 30px;
}
.container1{
    display: none;
}